.paginationWrapper {
	margin-bottom: 20px;
	display: inline-block;
	padding: 20px 40px;
	background-color: #f3f3f3;
	font-weight: 900;
	color: rgb(97, 96, 96);
}

.paginationWrapper button {
	font-weight: 900;
	background-color: transparent;
	padding: 12px 15px;
	border: 1px solid rgb(158, 154, 154);;
	cursor: pointer;
	outline: none;
	 color: rgb(158, 154, 154);
}

.paginationWrapper button.active {
	background-color: #c5564a;
}
