
.grid-1 {
    background: #f3f3f3;
    display: grid;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px auto 80px;
    grid-gap: 20px;
    
    grid-template-areas: "header   header   header"
                         "main     main     sidebar"
                         
  }
  
  /* items */
  
  .grid-1 div {
    color: white;
    font-size: 20px;
    }
  
  /* specific item styles */
  
  .item-1 {
    grid-area: header;
  }
  .item-2 {
    background: #f3f3f3;
    grid-area: main;
    
    display: grid;
    
    grid-template-columns: 1fr 30%;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    
    grid-template-areas: "header header"
                         "article sidebar";
    
  }
  .item-3 {
    grid-area: sidebar;
  }
  
  .item-4 {
    background: white;
    grid-area: header;
    padding-top: 60px;
    padding-bottom: 80px;
    border-top: 5px solid red;
  }
  .item-4  h3{
    color:red;
  }

  .item-5 {
    background: white;
    grid-area: article;
    padding-top: 60px;
    border-top: 5px solid  #42b2fd;
  }
  .item-5  h3{
    color: #42b2fd;
  }
  

  .wrapper {
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .p_hacker{
    color: #c5564a;
    font-size: 10px;
  }

