.selectWrapper {
	margin-bottom: 20px;
	display: inline-block;
	padding: 20px 40px;
	background-color:#f3f3f3;
}

.selectWrapper,
.selectWrapper select {
	font-size: 20px;

}

.selectText {
	margin-left: 10px;
	color: rgb(97, 96, 96);
}
